.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Add some padding to provide space around elements */
}

#fire {
  width: 75px; /* Set the width of the image */
  margin-left: auto; /* Automatically push the image to the right */
  border: solid rgb(255, 102, 0);
  border-radius: 3px;
}

hr {
  border-color: rgb(255, 102, 0); /* Set the border color to orange */
}

#knight {
  width: auto;
  height: 300px;
}

h1, h4 {
  margin: 0; /* Remove default margins */
}


.nav {
  margin: 0 5px; /* Add spacing between buttons */
  padding: 5px 10px; /* Add padding to make buttons clickable */
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
  border: none; /* Remove default button border */
  background-color: #ddd; /* Add a background color */
  color: #333; /* Set text color */
}

#boss {
  width: auto;
  height: 200px;
  margin: auto;
}